<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jainsaab.collegeconnect">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".onboarding.CustomIntro" />
        <activity
            android:name=".signingin.RegisterAsActivity"
            android:label="@string/register_as_activity_title"
            android:theme="@style/RegisterAsTheme" />
        <activity android:name=".teacher.TeacherActivity" />
        <activity android:name=".student.StudentActivity" />
        <activity
            android:name=".signingin.SelectCollegeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".teacher.AddStudentActivity"
            android:parentActivityName=".teacher.TeacherActivity" />
    </application>

</manifest>